#Ignore these directories
_aux/
_data/
tmp/
saves/

#Ignore these files
.env
.gitignore
.air.toml
_private.js
_private.json
private.js
private.json
private.go
a_private.go

# binary
prologueBin








