/* */

body {
  font-family: 'PressStart2P', 'VarelaRound', sans-serif;
  background-color: #454545;
  background-color: black;
  color: #fff;
  font-size: 1em;
  margin: 2em auto;
  max-width: 800px;
  line-height: 1.2;
  text-align: justify;
}

@font-face {
  font-family: 'PressStart2P';
  src: url(./_public/fonts/PressStart2P.ttf);
}

@font-face {
  font-family: 'VarelaRound';
  src: url(./_public/fonts/VarelaRound.ttf);
}

@font-face {
  font-family: 'NotoSansMonoMedium';
  src: url(./_public/fonts/NotoSansMonoMedium.ttf);
}

/* INTRO */

section#intro header {
  display: flex;
  align-items: center;
  float: right;
}

section#intro a img {
  width: 32px;
}

section#intro #newGame {
  background-color: #fff;
  border-radius: 2em;
  color: #454545;
  padding: 5px 15px;
  /*font-size: 1em;*/
  transition: all 0.2s;
}

section#intro .buttons {
  display: flex;
  justify-content: space-around;
}

section#intro #newGame:hover {
  background-color: #454545;
  color: #fff
}

section#intro .version,
.buttons #newGame {
  font-family: 'VarelaRound', sans-serif;
  font-weight: bold;
  font-size: 1em;
}

section#intro a, a:visited {
  text-decoration: none;
}
