<!-- https://www.osano.com/cookieconsent/download/ -->
<link rel="stylesheet" type="text/css"
  href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#eb6c44",
        "text": "#ffffff"
      },
      "button": {
        "background": "#f5d948"
      }
    },
    "theme": "classic",
    "position": "bottom-right"
  });
</script>
<!-- End -->
