/* */

body {
  font-family: 'Press Start 2P', Arial;
  background-color: #454545;
  background-color: black;
  color: #fff;
  font-size: 1em;
  /* 0.15 for record gif */
  margin: 2em auto;
  max-width: 800px;
  padding: 1em;
  line-height: 1.4;
  text-align: justify;
}

@font-face {
  font-family: 'Press Start 2P';
  src: url(./_public/fonts/PressStart2P-Regular.ttf);
}

header {
  float: right;
}

header a img {
  width: 32px;
}

button {
  display: inline-block;
  background-color: white;
  border-radius: 1em;
  text-decoration: none;
  color: #454545;
  padding: 10px 15px;
  font-size: 1em;
  transition: all 0.2s;
}

button:hover {
  background-color: white;
}

section#play {
  line-height: 0.8em;
  font-size: 0.8em;
}

.visited {
  color: dimgrey
}
