/* */

body {
  font-family: 'PressStart2P', Arial;
  background-color: #454545;
  background-color: black;
  color: #fff;
  font-size: 16px;
  margin: 2em auto;
  max-width: 800px;
  line-height: 1.4;
  text-align: justify;
}

@font-face {
  font-family: 'PressStart2P';
  src: url(./_public/fonts/PressStart2P.ttf);
}

@font-face {
  font-family: 'VarelaRound';
  src: url(./_public/fonts/VarelaRound.ttf);
}

/* INTRO */

section#intro header {
  display: flex;
  align-items: center;
  float: right;
}

section#intro img {
  width: 32px;
}

section#intro button {
  background-color: #fff;
  border-radius: 2em;
  color: #454545;
  padding: 5px 15px;
  /*font-size: 1em;*/
  transition: all 0.2s;
}

section#intro .buttons {
  display: flex;
  justify-content: space-around;
}

section#intro button:hover {
  background-color: #454545;
  color: #fff
}

section#intro .version, .buttons button {
  font-family: 'VarelaRound', Arial;
  font-weight: bold;
  font-size: 1em;
}

/* CONFIRM */

/* PLAY */

section#play {
  font-family: 'VarelaRound', Arial;
  color: #fff;
  font-weight: bold;
  font-size: 0.9em;
  margin: 1em auto;
  max-width: 800px;
  line-height: 1;
}

section#play .container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0px;
}

section#play #board {
  background-color: #454545;
  background-color: black;
}

/* BORDER UI */

.border {
  margin-top: 0px;
  border: 1px solid #454545;
}

/* LOG UI*/

section#play .container2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

textarea#msgZone {
  border: 0px;
  outline: none;
  resize: none;
  background-color: black;
  color: white;
  font-weight: bold;
}
