/* */

body {
  font-family: 'Indie Flower2', 'Press Start 2P', Arial;
  background-color: #454545;
  background-color: black;
  color: #fff;
  font-size: 1em;
  margin: 2em auto;
  max-width: 800px;
  line-height: 1.4;
  text-align: justify;
}

@font-face {
  font-family: 'Press Start 2P';
  src: url(./_public/fonts/PressStart2P.ttf);
}

@font-face {
  font-family: 'Indie Flower';
  src: url(./_public/fonts/IndieFlower.ttf);
}

/* INTRO */

section#intro header {
  float: right;
}

section#intro img {
  width: 32px;
}

section#intro button {
  background-color: white;
  border-radius: 2em;
  color: #454545;
  padding: 10px 15px;
  /*font-size: 1em;*/
  transition: all 0.2s;
}

section#intro button:hover {
  background-color: #454545;
  color: #fff
}

/* CONFIRM */

/* PLAY */

section#play {
  font-family: 'Indie Flower2', Arial;
  color: #fff;
  /*font-weight: bold;*/
  font-size: 1.2em;
  margin: 2em auto;
  max-width: 800px;
  line-height: 1;
  text-align: justify;
}

section#play .container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 20px;
}

section#play #board {
  background-color: #454545;
  background-color: black;
}
