/* */

body {
  font-family: 'IBM', sans-serif, serif;
  background-color: #293133;
  color: #ffffff;
  font-size: 1em;
  line-height: 1.2;
  text-align: justify;
}

@font-face {
  font-family: 'IBM';
  src: url(./assets/fonts/IBMPlexSans.ttf);
}

/* INTRO */

section#landingPage {
  max-width: 800px;
  margin: 2em auto;
}

section#landingPage .landingPage {
  font-size: 1.3em;
}

section#landingPage header {
  display: flex;
  align-items: center;
  float: right;
}

section#landingPage header #ping {
  display: inline-block;
  text-align: center;
  width: 3em;
}

section#landingPage .buttons {
  display: flex;
  justify-content: space-around;
}

section#landingPage .buttons div#newGame {
  background-color: #ffffff;
  border-radius: 2em;
  color: #293133;
  padding: 10px 25px;
  transition: all 0.2s;
  font-weight: bold;
}

section#landingPage .buttons div#newGame:hover {
  background-color: #454545;
  color: #ffffff;
  cursor: pointer;
}

/* PLAY ZONE*/

section#playZone {
  overflow: hidden;
}

section#playZone #canvas {
  border: 1px solid #293133;
  /*border: 1px solid #ffffff;*/
}

section#playZone #panel .panelTitle {
  display: flex;
  justify-content: space-around;
}

section#playZone .column {
  float: left;
}

section#playZone .right {
  font-size: 0.80em;
  width: 250px;
  text-align: center;
}

section#playZone .right .player, .inventory, .loot, .selected {
  text-align: left;
  margin-left: 10px;
}

section#playZone .right .loot {
  margin-top: 10px;
  border: 1px solid rebeccapurple;
}

section#playZone .right .history {
  text-align: left;
  /*font-size: 0.90em;*/
  position: fixed;
  padding: 5px;
  bottom: 2em;
  width: 100%;
}


/* PANEL ZONE */

section#playZone #panel .inventoryDuo {
  display: flex;
  justify-content: space-between;
}

section#playZone #panel #i-food, #i-medical, #i-head, #i-body, #i-supply {
  display: inline-block;
  text-align: center;
  width: 3em;
}
