/* */

body {
  font-family: 'NotoSansMonoMedium', 'VarelaRound', sans-serif;
  background-color: #181818;
  color: #ffffff;
  font-size: 1em;
  line-height: 1.2;
  text-align: justify;
}

@font-face {
  font-family: 'VarelaRound';
  src: url(./_public/fonts/VarelaRound.ttf);
}

@font-face {
  font-family: 'NotoSansMonoMedium';
  src: url(./_public/fonts/NotoSansMonoMedium.ttf);
}

/* INTRO */

section#intro {
  max-width: 800px;
  margin: 2em auto;
}

section#intro .intro {
  font-size: 1.3em;
}

section#intro header {
  display: flex;
  align-items: center;
  float: right;
}

section#intro #newGame {
  background-color: #ffffff;
  border-radius: 2em;
  color: #454545;
  padding: 5px 15px;
  font-size: 1.2em;
  transition: all 0.2s;
}

section#intro .buttons {
  display: flex;
  justify-content: space-around;
}

section#intro #newGame:hover {
  background-color: #454545;
  color: #ffffff;
  cursor: pointer;
}

section#intro .version,
.buttons #newGame {
  font-family: 'VarelaRound', sans-serif;
  font-weight: bold;
  font-size: 1em;
}

/* PLAY ZONE*/

section#playZone {
  overflow: hidden;
}

section#playZone #canvas {
  border: 1px solid #464646;
  border: 1px solid #ffffff;
}

/* Flex Layout */

/*section#playZone .row {
  display: flex;
}*/

section#playZone .column {
  float: left;
}

section#playZone .right {
  font-size: 0.80em;
  width: 250px;
  text-align: center;
}

section#playZone .right .player, .inventory, .loot, .selected {
  text-align: left;
  margin-left: 10px;
}

section#playZone .right .loot {
  margin-top: 10px;
  border: 1px solid rebeccapurple;
}

section#playZone .right .history {
  text-align: left;
  font-size: 0.80em;
  position: fixed;
  padding: 5px;
  bottom: 2em;
  width: 100%;
}
