/* */

/*
https://stackoverflow.com/questions/44645465/when-using-height-100vh-for-the-container-vertical-scrollbar-appears
*/
body, html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* */

body {
  font-family: sans-serif, 'IBM', arial;
  background-color: #293133;
  color: #ffffff;
  font-size: 1em;
  line-height: 1.2;
}


@font-face {
  font-family: 'IBM';
  src: url(./assets/IBMPlexSans.ttf);
}

@font-face {
  font-family: 'DejaVu';
  src: url(./assets/dejavu-sans-mono.book.ttf);
}


/* VISIBLE */

section {
  display: none;
}

section.visible {
  display: block;
}

div.ui {
  display: none;
}

div.ui.visible {
  display: block;
}


/* LANDING PAGE */

section#landingPage {
  max-width: 550px;
  margin: 5em auto;
  font-size: 1.2em;
}

section#landingPage header {
  display: flex;
  align-items: center;
  justify-content: right;
  /*background-color: #414141;*/
}

section#landingPage img {
  vertical-align: middle;
}

section#landingPage header #logo {
  margin-right: 0.5em;
}

section#landingPage .text {
  text-align: justify;
}

section#landingPage .nick {
  text-align: center;
}

section#landingPage #nick {
  background-color: #293133;
  text-align: center;
  color: #f0f0f0;
  /*border: 0;*/
  font-size: 1em;
  width: 10em;
}

section#landingPage .continue {
  margin: 1em;
  text-align: center;
}

section#landingPage .pressKey {
  background-color: #04AA6D;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  padding: 5px 20px;
}

/* PLAY ZONE */

section#playZone {}

section#playZone .container {
  font-family: 'IBM', arial, sans-serif;
  background-color: #293133;
  color: #ffffff;
  font-size: 0.9em;
  display: flex;
  height: 100vh;
}

section#playZone .container .map {
  flex: 1;
  /*border: 1px solid greenyellow;*/
  /*margin: auto;*/
}

section#playZone .container .map canvas#myCanvas {
  /*background-color: lightgreen;*/
}

section#playZone .container .panel {
  margin: 5px;
  border: 2px solid greenyellow;
  width: 300px;
  padding: 5px;

}
